<header class="header">
  <h1>Hello, {{title}}</h1>
</header>

<nav class="nav">
  <a routerLinkActive="active"  routerLink="/jobs">JOBS</a>
  <a routerLinkActive="active"  routerLink="/favorites">FAVORITES</a>
</nav>
