.nav {
  display: flex;
  justify-content: center;
  margin: 10px 0;

}

.nav a {
    position: relative;
  display: block;
  text-align: center;
  color: #fff;
  width: 100%;
  border-radius: 0;
}

.nav a:first-child::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: #f50057;
}

.nav a.active {
  background-color: #f50057;
}
