<div class="button-container">
  <button (click)="goBack()">Back</button>
</div>

@if (error) {
<div>
  <p>{{ error }}</p>
</div>
} @if (job$ | async; as job) {
<div class="job">
  <div class="col-sm-1">
    <img [src]="job.companyLogo" alt="Company Logo" />
  </div>
  <div>
    <h2>{{ job.companyName }} - {{ job.title }}</h2>
    <mark class="tag">{{ job.types }}</mark>
    <mark class="tag">{{ job.industries }}</mark>
  </div>

  <div class="sheet">
    <span><strong>Publish Date:</strong> {{ job.publishDate }}</span>
    <span><strong>Location: </strong>{{ job.location }}</span>
    <span><strong>Reference:</strong> {{ job.reference }}</span>
    <div>
      <strong>description:</strong>
      @if (sanitizedDescription) {
      <div [innerHTML]="sanitizedDescription"></div>
      }
    </div>
  </div>
</div>
}
