.button-container {
    text-align: left;
    margin-bottom: 1rem;
}
.job{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

h2 {
    margin: 0 0 0.2rem 0;
}
.tag {
    margin: 0 0.5rem;
    font-size: 12px;
    background-color: #f50057;
}

.sheet {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}