@if ((jobs$ | async)?.length === 0 && isFavoritesPage) {
    <p>No favorites found.</p>
} 

@for (job of jobs$ | async; track job.id) {
<div class="job-container">
  <div class="job">
    <div class="col-sm-1">
      <img [src]="job.companyLogo" alt="Company Logo" />
    </div>
    <div class="col-sm-10">
      <div class="title" [routerLink]="[detailRoute, job.id]">
        {{ job.title }}
      </div>
      <small>
        company : {{ job?.companyName }}&nbsp;&nbsp;&nbsp; Reference :
        {{ job?.reference }}</small
      >
    </div>
    @if (!isFavoritesPage) {
    <button class="favorite-button" (click)="toggleFavorite(job)">
      <span class="icon-star" [ngClass]="{ favorite: isFavorite(job) }"></span>
    </button>
    }
  </div>
</div>
}
