.job-container {
  position: relative;
  left: 0;
  color: #fce4ec;
  list-style: none;
  margin: 4px 0;
  border-left: 2px solid #f50057;
  transition: 0.8s;
  text-align: left;
}

.job-container:hover {
  left: 10px;
}

.job-container .job {
  position: relative;
  padding: 8px;
  padding-left: 12px;
  display: flex;
  z-index: 1;
  transition: 0.8s;
}

.job-container:hover .job {
  color: #111;
}

.job-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f50057;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.8s;
}

.job-container:hover::before {
  transform: scaleX(1);
}

.col-sm-10 {
  display: flex;
  flex-direction: column;
}

.title {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 500;
}
.title:hover{
  text-decoration-line: underline;
}

.icon-star.favorite {
  color: gold;
}

